<%= semantic_form_for([:admin, @gallery], multipart: true, builder: ActiveAdmin::FormBuilder, html: {class: 'form-horizontal'}) do |f| %>
    <fieldset class="inputs">
      <legend><span>添加图片</span></legend>
      <% if f.object.errors.full_messages.present? %>
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <%= f.object.errors.full_messages.join(';') %>
          </div>
      <% end %>

      <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="service_interests">标记:</label>

        <div class="col-sm-10">
          <%= f.select(:tag, TAGS, {selected: (f.object.tag), include_blank: false}) %>
        </div>
      </div>
      <% f.has_many :images, allow_destroy: true, heading: false do |cf| %>
          <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="service_interests">图片:</label>

            <div class="col-sm-10">
              <%= cf.file_field(:image) %>
            </div>
          </div>
          <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label" for="service_interests">说明:</label>

            <div class="col-sm-10">
              <%= cf.text_area(:caption, placeholder: '请输入图片说明') %>
            </div>
          </div>
      <% end %>
    </fieldset>
    <%= f.submit('提交') %>
<% end %>