<div class="panel">
  <h3>提现</h3>
  <%= form_tag(service_withdraw_path(@service), remote: true) do %>
      <table style='padding: 20px'>
        <tr>
          <th>支付宝实名</th>
          <td> <%= text_field_tag :name %></td>
        </tr>
        <tr>
          <th>支付宝账户</th>
          <td> <%= text_field_tag :account %></td>
        </tr>
        <tr>
          <th>金额</th>
          <td> <%= number_field_tag(:amount, nil, min: 200, max: @service.wallet.balance) %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= submit_tag('提交', data: {disable_with: '提交中...'}) %>
          </td>
        </tr>
      </table>
  <% end %>
</div>