<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>美型-美于型，健于身</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <%= stylesheet_link_tag 'wap/wap' %>
</head>
<body>
<div class="overlay"></div>
<div id="modal1" class="modal">
  <%= image_tag('wap/QR-ode.png') %></div>
<div class="swiper-container">
  <div class="header-top">
    <dl>
      <dt><a class="modalLink" href="#modal1"><%= image_tag('wap/QRcode.png') %></a></dt>
    </dl>
  </div>
  <div class="swiper-wrapper">
    <section class="swiper-slide swiperbj-a ">

      <div class="swiper-Download ">
        <a href="" class="swiper-Download-a "><%= image_tag('wap/Download-01.png', class: 'resize') %></a>
        <a href="" class="swiper-Download-b "><%= image_tag('wap/Download-02.png', class: 'resize') %></a>
      </div>
    </section>
    <section class="swiper-slide swiperbj-b">
      <div class="swiper-Downloada">
        <a href="http://www.e-mxing.com/download" class="swiper-Download-a"><%= image_tag('wap/Download-01.png', class: 'resize') %></a>
        <a href="http://www.e-mxing.com/download/b" class="swiper-Download-b "><%= image_tag('wap/Download-02.png', class: 'resize') %></a>
      </div>
    </section>
  </div>
  <%= image_tag('wap/arrow.png', id: 'array', class: 'pages') %>
</div>
<%= javascript_include_tag 'wap/swiper.min', 'wap/jquery.min', 'wap/jquery.modal' %>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        direction: 'vertical',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        mousewheelControl: true

    })
</script>
</body>
</html>