<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag 'home/style' %>
  <title>佳安美</title>
</head>
<body>
<div class="header">
  <%= render 'share/header' %>
</div>
<!--banner-->
<div class="sw_banner gy_banner">
  <div class="sw_text">
    <p>“美型”专注于移动互联网，专注于移动社交，专注于社交模式探索并满足健身人群的社交愿望。</p>

    <p>“美型”是一款基于地理位置的移动社交工具。你可以通过“美型”认识附近健身的人，</p>

    <p>免费发送消息、语音、照片、视频以及精准的地理位置和身边的人更好的交流。</p>

    <p>你可以使用美型展现个人的健身技巧与魅力，丰富自己的社交圈，</p>

    <p>你可以通过这个平台和自己心仪的健身教练进行预约和沟通，让私人健身教练不再是奢侈的享受，更能服务于大众。</p>
  </div>
  <div class="tel aboutico">
    <i><%= image_tag('home/ico4_a.png') %></i>
    <i><%= image_tag('home/ico6_a.png') %></i>
    <i><%= image_tag('home/ico2_a.png') %></i>
    <i><%= image_tag('home/ico8_a.png') %></i>
    <i><%= image_tag('home/ico10_a.png') %></i>
  </div>
</div>
<!--banner End-->
<div class="aboutcon">
  <dl class="rt">
    <dt class="cor1"><em>2014年10月</em></dt>
    <dd><p>公司成立</p></dd>
  </dl>
  <dl>
    <dt class="cor2"><em>2014年11月</em></dt>
    <dd><p>专注于社交模式探索并满足健身人群的社交愿望让私人健身教练不再是奢侈的享受</p></dd>
  </dl>
  <dl class="rt">
    <dt class="cor3"><em>2014年12月</em></dt>
    <dd><p>美型APP上线</p></dd>
  </dl>
</div>
<!--footer-->
<div class="footer">
  <%= render 'share/footer' %>
</div>
</body>
</html>