<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0 , maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home/jquery-1.7.1.min' %>
  <title><%= @activity.title %></title>
  <style>
      .bottomSection {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.83);
          z-index: 9999
      }

      .bottomSection .bottomSectionWrap {
          padding: 12px 0px 12px 9px
      }

      .bottomSection .dl {
          height: 32px;
          display: block;
          color: #FFFFFF;
          overflow: hidden
      }

      .bottomSection .bottomSectionClose {
          width: 33px;
          height: 32px;
          float: right;
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: 11px 11px
      }

      .bottomSection i.iopen {
          margin-right: 4px;
          float: right;
          background: #00c1eb;
          border-radius: 2px;
          color: #fff;
          margin-top: 2px;
          font-style: normal;
          padding: 0 15px;
          height: 28px;
          line-height: 28px;
          font-size: 14px
      }

      .bottomSection .adLogo {
          float: left;
          height: 32px;
          width: 32px;
          margin-right: 7px
      }

      .bottomSection .adLogo img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 5px
      }

      .bottomView1 .fnt {
          display: block;
          overflow: hidden;
      }

      .bottomView1 .tit {
          font-size: 15px;
          font-weight: normal;
          line-height: 18px;
          height: 18px;
          float: left;
          width: 100%;
          vertical-align: text-top;
          overflow: hidden;
      }

      .bottomView1 .char {
          font-size: 10px;
          height: 14px;
          line-height: 16px;
          float: left;
          color: #8a8a8a;
      }

      .bottomView2 .fnt {
          display: block;
          vertical-align: middle;
          font-size: 15px;
          margin: 6px 0;
          height: 19px;
          line-height: 19px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden
      }

      .bottomView2 .tit {
          display: inline-block;
          background-color: #db2310;
          font-size: 12px;
          margin-right: 5px;
          padding: 0 5px;
          border-radius: 3px;
          vertical-align: top
      }

      .footer a {
          display: block;
          height: 100%
      }

      .link b {
          display: block;
          text-align: center;
          color: #6f6f6f;
          height: 40px;
          line-height: 40px;
          border-radius: 3px;
          background-color: #fdfdfd;
          box-shadow: 0 0 2px rgba(0, 0, 0, .2)
      }
  </style>
</head>
<body style="display: inline">
<section class="acti" style="background:url(<%=@activity.cover.url%>) no-repeat; background-size:cover;">
  <div class="bgtu"><%= image_tag(@activity.cover.url) %><i></i></div>
  <dl class="actitop">
    <dt>
    <h4><%= @activity.title %></h4>

    <p><i class="ico1"></i><%= @activity.address %></p>

    <p><i class="ico2"></i><%= @activity.start_date %> ~ <%= @activity.end_date %></p>

    <p><i class="ico3"></i><%= @activity.theme_name %></p>
    </dt>
  </dl>
  <% if @activity.stage.eql?(1) %>
      <dl class="actibut">
        <dt>主办方</dt>
        <dd><%= @activity.group.name %></dd>
      </dl>
  <% elsif @activity.stage.eql?(2) %>
      <dl class="actibut">
        <dt>
        <p>报名2人</p>

        <p>群組10人</p></dt>
        <dd>
          <button id="joinInAct">报名参加</button>
          <button id="joinInGroup">加群讨论</button>
        </dd>
      </dl>
  <% else %>
  <% end %>
</section>
<% if @activity.stage.eql?(1) %>
    <%= render partial: 'intro' %>
<% elsif @activity.stage.eql?(2) %>
    <section class="actizt">
      <div class="ztcon">报名后出现在此，有机会被邀请同去</div>
    </section>
    <%= render partial: 'apply' %>
<% else %>
    <%= render partial: 'result' %>
<% end %>
<% unless @cc.eql?('app') %>
    <div class="bottomSection J_bottomSection" style="">
      <div class="bottomSectionWrap bottomView1">
        <a class="dl clkstat" id="dl2" href="http://www.e-mxing.com/download" objtype="h5_22">
          <b class="bottomSectionClose J_bottomSectionClose clkstat" objtype="h5_24" onclick="closePopAdSection(event)"></b>
          <i class="iopen">立即下载</i><i class="adLogo"><%= image_tag('logo.png') %></i>
          <span class="fnt"><span class="tit">美于身 健于型</span><span class="char">立即下载美型客户端&gt;</span></span></a>
      </div>
    </div>
<% end %>
</body>
</html>